/* Split the screen in half */
.split {
  height: 100%;
  width: 70%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: black;
}

/* Control the right side */
.right {
  right: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: white;
  background-color: black;
}

.centered {
  position: absolute;
  top: 80%;
  left: 35%;
  transform: translate(-50%, -50%);
  /* text-align: center;
} */
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 75px;
  border-radius: 40%;
}
